* {
  box-sizing: border-box;
}
body{
    background-image:url(./assets/fotoshpaleri-zoryani-vijni-kosmos-2161265301.jpg);
    background-size: cover;
    min-height: 100vh;
}

.star-wars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 0 0;
}
.child{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 250px;
  max-width: 600px;
  min-width: 200px; 
  color: white;
  background-image: url(./assets/images.jpeg);
  background-size: 100%;
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 50px white;
  margin: 25%;
}
.information {
  margin: 2% 5% 0 15%;
}
.user-name{
  font-size: 25px;
  font-weight: 800px;
  margin: 2% 0;
}
.user-position {
  font-size: 20px;
  margin: 2% 0;
}
.user-direction {
  font-size: 16px;
  margin: 4% 0;
}
.link{
  margin: 8% 0;
}
.follow{
  border: 1px solid white;
  border-radius: 10%;
  font-size: 18px;
  color: white;
  padding: 8px 10px;
  background-color: rgb(58, 3, 58);
  text-decoration: none;

}
.message{
  border: 1px solid white;
  border-radius: 10%;
  font-size: 18px;
  color: white;
  padding: 8px 10px;
  background-color: rgb(58, 3, 58);
  text-decoration: none;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2% 5% -15%;
}


